 
 <table class='table' *ngIf='books.length'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Book Name</th>
            <th>Price</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let book of books'>
            <td>
                <img [src]='book.imageUrl' 
                        [title]='book.name' 
                        [alt]=""
                        [style.width.px]=''
                        [style.margin.px]=''>
            </td>
            <td>{{book.name}}</td>
            <td>{{book.description}}</td>
            <td>{{book.price |currency}}</td>
            <td>{{book.isbn}}</td>
            <td>{{book.authorName}}</td>
            <td>{{book.publisherName}}</td>
            <td><a [routerLink]="['/book-detail']" class="btn btn-primary" 
                style="margin-left:10px">Buy</a></td>
          
        </tr>
    </tbody>

 </table>
 <!--
 <div class="container">
    <h2>Books</h2>
    <div *ngIf="selectedBook">
        <br/>
        <h5> {{selectedBook.title}}</h5>
            <p>{{selectedBook.description}}</p>
    </div>
    <div *ngFor="let book of books">
        <p (click)="onSelect(book)" style="cursor: pointer;">
            {{book.name}}
        </p>
        <a [routerLink]="['/books',book.id]"> Buy</a>
        <br/>
        <a (click)="onDelete(book)" class="link-primary">Delete</a>
    </div>
     <a [routerLink]="['/books']" class="btn btn-primary">Add Book</a>
    
</div>
 -->
