<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>([insert_names])'s Books</title>
    <link rel="stylesheet" href="./book.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <body>
        <nav class="topnav">
            <a href="#">Home</a>
            <a href="#">Books</a>
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
            <a href="#" class="cart"><i class="fa fa-shopping-cart" style="font-size:24px"></i></a>
            <a href="#" class="user-account"><i class="fa fa-user" style="font-size:24px"></i></a>
        </nav>
        <section>
            <h1>Books</h1>
            <table class='table' *ngIf='books.length'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Book Name</th>
            <th>Price</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let book of books'>
            <td>
                <img [src]='book.imageUrl' 
                        [title]='book.name' 
                        [alt]=""
                        [style.width.px]=''
                        [style.margin.px]=''>
            </td>
            <td>{{book.name}}</td>
            <td>{{book.description}}</td>
            <td>{{book.price |currency}}</td>
            <td>{{book.isbn}}</td>
            <td>{{book.authorName}}</td>
            <td>{{book.publisherName}}</td>
            <td><a [routerLink]="['/book-detail']" class="btn btn-primary" 
                style="margin-left:10px">Buy</a></td>
          
        </tr>
    </tbody>

 </table>
            
                <nav class="bottom-nav">
                    <a href="#">About Us</a>
                    <a href="#">Contact Us</a>
                </nav>
        </section>
    </body>
</html>