 <div class="container">
    <form (ngSubmit)="onSubmit()">
        <h4>BookStore Form</h4>
        <input type="hidden" id="id" name="id" [(ngModel)]="model.id">
        <div >
            <label for="name" class="form-label">Title</label>
            <input type="text" class="from-control" id="name" required name="name" [(ngModel)]="model.name">
        </div>

        <div >
            <label for="description" class="form-label">Description</label>
            <input type="area"  class="from-control" id="description" required name="description" [(ngModel)]="model.description">
        </div>

        <div >
            <label for="price" class="form-label">Price</label>
            <input type="text" class="from-control" id="price" required name="price" [(ngModel)]="model.price">
        </div>
        <div >
            <label for="author" class="form-label">Author</label>
            <input type="text" class="from-control" id="author" required name="author" [(ngModel)]="model.authorName">
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>

