<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>([insert_names])'s Books</title>
    <link rel="stylesheet" href="./home.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <body>
        <nav class="topnav">
            <a href="#">Home</a>
            <a href="book.component.html">Books</a>
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
            <a href="#" class="cart"><i class="fa fa-shopping-cart" style="font-size:24px"></i></a>
            <a href="#" class="user-account"><i class="fa fa-user" style="font-size:24px"></i></a>
        </nav>
        <section>
            <h1>Our Latest Adventures</h1>
        </section>
        <section class="cards">
            <div class="card" id="card1">
                <h3 class="card-title">- Latest Release -</h3>
                <img src="assets/images/hypo.webp">
                <h3 class="book-title">My Book Cover</h3>
                <p>$18.00</p>
                <button type="submit">View Details</button>
            </div>
            <div class="card" id="card2">
                <h3 class="card-title">- Latest Release -</h3>
                <img src="assets/images/mermaid.jpg">
                <h3 class="book-title">The Hypocrite World</h3>
                <p>$25.00</p>
                <button class="card-button" type="submit">View Details</button>
            </div>
        </section>
        <section class="about-author">
            <h1>About Little Bell</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis odit corrupti possimus voluptate asperiores similique a hic, placeat, reiciendis nesciunt, magni maxime illum deleniti ipsum neque quaerat? Possimus eligendi eveniet in esse saepe! Doloremque voluptas nesciunt, eum molestias ab, est quas facilis neque rem voluptatem, assumenda optio explicabo ea praesentium.</p>
        </section>
            <nav class="bottom-nav">
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
            </nav>
    </body>
</html>