<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="topnav">
        <a href="#">Home</a>
        <a href="#">Books</a>
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
        <a href="#" class="cart"><i class="fa fa-shopping-cart" style="font-size:24px"></i></a>
        <a href="#" class="user-account"><i class="fa fa-user" style="font-size:24px"></i></a>
    </nav>
    <section>
        <form (ngSubmit)="onSubmit()">
            <h1>Bookstore Form</h1>
            <!-- <input type="hidden" id="id" name="id"> -->
            <div class="form-item">
                <label for="name" class="form-label">Book Title</label>
                <input type="text" class="from-control" id="name" required name="name">
            </div>

            <div class="form-item">
                <label for="description" class="form-label">Description</label>
                <textarea  class="from-control" id="description" required name="description"></textarea>
            </div>

            <div class="form-item">
                <label for="price" class="form-label">Price</label>
                <input type="text" class="from-control" id="price" required name="price">
            </div>
            <div class="form-item">
                <label for="author" class="form-label">Author</label>
                <input type="text" class="from-control" id="author" required name="author">
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </section>
        <nav class="bottom-nav">
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
        </nav>
</body>