<p>customer works!</p>

<div class="container">
    <form (ngSubmit)="onSubmit()">
        <h4>Customers Form</h4>
        <input type="hidden" id="id" name="id" [(ngModel)]="model.id">
        <div >
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="from-control" id="firstName" required name="name" [(ngModel)]="model.firstName">
        </div>

        <div >
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text"  class="from-control" id="lastName" required name="description" [(ngModel)]="model.lastName">
        </div>

        <div >
            <label for="email" class="form-label">Email</label>
            <input type="text" class="from-control" id="email" required name="email" [(ngModel)]="model.email">
        </div>
        <div >
            <label for="address" class="form-label">Address</label>
            <input type="area" class="from-control" id="address" required name="author" [(ngModel)]="model.address">
        </div>
        <div >
            <label for="creditCard" class="form-label">Credit Card</label>
            <input type="text" class="from-control" id="address" required name="author" [(ngModel)]="model.address">
        </div>
        <!--<button class="btn btn-primary" type="submit">Continue</button>
        -->
        <a routerLink="/order" type="submit"> Continue</a>
    </form>
</div>
