.bookImg{
    display:inline-block;
    width: 300px;
    height: 350px;
    margin: auto;
    display: block;
}
.book-card {
    width: 400px;
  }
.title{
    text-align: center;
    margin: 10px;
    word-break: break-all;
}
.description{
    text-align: center;
    height: 40px;
    overflow:hidden;
    text-overflow: ellipsis;
}
.price{
    color: green;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}
.btns{
    margin: 15px 0 0 0;
    text-align: center;
}